*, *::before, *::after{
    box-sizing: border-box;
}
*:focus:not(:focus-visible)
{outline: none;}

html body {
    font-size: 62.5%;
}

.heaser{
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
}
.container {
    width: 113.5rem;
    margin: 0 auto;
}
.heaser .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu {
    display: flex;
    align-items: center;
}
.header-menu-logo {
    width: 7.9rem;
    height: 2.8rem;
    margin-right: 3.9rem;
    align-items: center;
}
.header_nav a:not(:last-child)
{margin-right: 2.8rem;}

.header_nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-socials-icons {
    height: 1.72rem;
    width: 1.67rem;
    align-items: center;
}

.header-socials-icons:not(:last-child) 
{margin-right:2rem;
}
body {
    background:url("../img/background.jpg");
   }
ul.footer_menu li {
list-style-type: none;
}

div.container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    color:#FFFFFF;
    height: 6rem;
    width: 144rem;
}

footer {
    background: #030102;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

ul.footer_menu li a{
    text-decoration: none;
    color:inherit;
}

.footer_menu {
    display: flex;
    padding-left: 0;
}

ul.footer_menu li:not(:last-child){
    margin-right: 2.5rem;
}
